.places {
    padding: 0 148px 92px;
    margin: 0;
    max-width: 984px;
}

@media (max-width: 1024px) {
    .places {
    padding: 0 48px 92px;      
    }
}

@media (max-width: 768px) {
    .places {
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 90px;
    max-width: 100%;
    }
}

@media (max-width: 550px) {
    .places {
    padding-left: 0;
    padding-right: 0;
    }
}

@media (max-width: 320px) {
    .places {
    padding-bottom: 0;
    }
}
