.cover {
    margin: 0;
    padding-top: 0;
    padding-left: 48px;
    padding-right: 48px;
    padding-bottom: 92px;
    background-image: url(../../../images/cover-trains.jpg);
    background-size: cover;
    background-position: center;
    max-width: 1184px;
    min-height: 740px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    z-index: 1;
    position: relative;
}

.cover::before {
    content: "";
    background-color: #2a2c2f;
    opacity: 0.3;
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.cover:hover::before {
    opacity: 0.8;
}