.footer__nav {
    display: flex;
    margin: 0;
    list-style: none;
    text-decoration: none;
    gap: 18px;
    padding-left: 0;
}

@media (max-width: 690px) {
    .footer__nav {
        flex-direction: column;
        margin-bottom: 46px;
    }
  }

@media (max-width: 320px) {
    .footer__nav {
        gap: 32px;
    }
  }
