.lead__caption {
    
    font-size: 10px;
    line-height: 1.4;
    font-weight: 400;
    text-align: left;
    text-transform: uppercase;
    color: #FFFFFF;
}

@media (max-width: 1024px) {
    .lead__caption {
        padding-left: 24px;
    }
}

@media (max-width: 768px) {
    .lead__caption {
        padding-left: 16px;
    }
}