.place__website {
    color: #FFFFFF;
    align-self: end;
    grid-column: 2;
    grid-row: 1;
}

@media (max-width: 550px) {
    .place__website {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: flex-start;
    }
}